

/* 文章详情页 */

.topic {
    .user {
        position: relative;
        padding: 10px;
        line-height: 20px;
        font-size: 12px;
        border-bottom: 1px solid #ddd;
        .name {
            font-size: 14px;
            color: @style-main;
        }
        .lou {
            line-height: 14px;
            font-size: 14px;
            color: #aaa;
        }
        time {
            padding-left: 5px;
            line-height: 14px;
            font-size: 14px;
            color: #666;
        }
        .qt {
            div {
                padding-right: 5px;
            }
        }
        .font {
            position: absolute;
            top: 0;
            right: 0;
            .iconfont {
                width: 60px;
                height: 60px;
                line-height: 60px;
                text-align: center;
                font-size: 32px;
                color: #fff;
                opacity: 0.8;
            }
        }
    }
    .tit2 {
        padding: 10px;
        font-size: 18px;
        background: #eee;
    }
    .content {
        overflow: hidden;
        padding: 10px;
        line-height: 24px;
        font-size: 13px;
    }
    .tit3 {
        padding: 5px 10px;
        line-height: 24px;
        border-left: 8px solid @style-main;
        background: #eee;
        font-weight: normal;
        font-size: 14px;
        em {
            font-style: normal;
            color: @style-main;
        }
    }
}