
/* 发表主题 */

.topic-create {
    .item {
        padding: 10px 10px;
        border-bottom: 1px solid #eee;
        color: #444;
    }
    .key {
        width: 40px;
        line-height: 28px;
        font-size: 14px;
        color: #999;
    }
    select {
        display: block;
        box-sizing: border-box;
        width: 100%;
        height: 28px;
        line-height: 28px;
        border-radius: 5px;
        font-size: 13px;
        color: #222;
    }
    input {
        box-sizing: border-box;
        width: 100%;
        line-height: 28px;
        font-size: 13px;
    }
    textarea {
        box-sizing: border-box;
        width: 100%;
        height: 300px;
        line-height: 24px;
        font-size: 13px;
        resize: none;
    }
}